@import "../../assets/style/variables/colors.scss";

.badge {
  color: $primary;
  background-color: rgba($primary, 0.1);
  display: inline-flex;
  padding: 4px 8px;
  font-size: 10px;
  line-height: 13px;
  border-radius: 21px;
  border: 1px solid rgba($primary, 0.1);
  box-sizing: border-box;
  white-space: nowrap;
}
