@import "../../assets/style/variables/colors.scss";

.layout-selector {
  list-style: none;
  display: flex;

  .layout-selector-item {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 10px;
    }

    .layout-selector-button {
      background-color: transparent;
      border: 0 none;
      padding: 16px;
      cursor: pointer;

      > svg {
        opacity: .25;
      }
    }

    &.selected, &:hover {
      .layout-selector-button > svg {
        opacity: 1;
      }

      hr {
        display: block;
      }
    }

    &:hover {
      hr {
        border-color: $text-normal-700;
      }
    }

    &.selected hr {
      border-color: $primary;
      box-shadow: 0px -2px 4px rgba($primary, 80%);
    }

    hr {
      width: 22px;
      border-width: 1px;
      margin: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border-style: solid;
      border-radius: 2px;
      display: none;
    }
  }
}
