.chat-message {
  display: flex;

  &-photo-container {
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: 12px;
  }

  &-photo {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
  }

  &-main-container {
    flex-grow: 1;
  }

  &-header {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    color: #6B7280;
    line-height: 15px;
    justify-content: space-between;
    margin-bottom: 4px;

    &-strong {
      color: #2D8CFF;
    }
  }

  &-body {
    padding: 8px 12px;
    background: rgba(55, 65, 81, 0.5);
    border: 1px solid rgba(75, 85, 99, 0.5);
    border-radius: 8px;
    font-size: 14px;
    line-height: 120%;
    color: #D1D5DB;
    white-space: pre-line;

    &--file {
      &-icon {
        margin-right: 8px;
      }

      &-name, &-size {
        display: block;
      }

      &-size {
        font-size: 12px;
        color: #6B7280;
      }
    }
  }

  &--reversed {
    flex-direction: row-reverse;
  }

  &--reversed &-photo-container {
    margin-right: 0;
    margin-left: 12px;
  }

  &--reversed &-body {
    background: rgba(45, 140, 255, 0.1);
    border: 1px solid rgba(45, 140, 255, 0.1);
    display: flex;
    align-items: center;
    padding: 8px;
  }
}
