$darker: #101826;
$dark: #17202e;
$danger: #ef4444;
$primary: #2d8cff;
$secondary: rgba(55, 65, 81, 0.5);
$text-normal-0: white;
$text-normal-300: #d1d5db;
$text-normal-400: #9ca3af;
$text-normal-500: #6b7280;
