@import "../../assets/style/mixins/card.scss";
@import "../../assets/style/variables/colors.scss";
@import "../../assets/style/variables/metrics.scss";

$border: 1px solid rgba(55, 65, 81, 0.5);

.main-container {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .meeting-col {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .meeting-header {
      background-color: $dark;
      height: $header-height;
      border-bottom: $border;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-shrink: 0;

      .protected {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }

      .layout-selector {
        height: 100%;
      }

      .timer {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .meeting-content {
      background-color: $darker;
      flex-grow: 1;
      display: flex;
      height: calc(100vh - 184px);
      flex-shrink: 0;

      .participants-grid-container {
        flex-grow: 1;
      }
    }

    .meeting-footer {
      background-color: $dark;
      border-top: $border;
      padding: 22px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 103px;

      > button {
        @include card;
        padding: 22px 16px;
        background-color: $danger;
        border: 0 none;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }

  .side-col {
    width: 328px;
    background-color: $dark;
    display: flex;
    flex-direction: column;
    border-left: $border;
    flex-shrink: 0;

    .side-header {
      height: $header-height;
      border-bottom: $border;
    }
  }
}
