@import "../../assets/style/variables/colors.scss";

$header-height: 80px;
$footer-height: 100px;
$border: 1px solid rgba(55, 65, 81, 0.5);

.main-container {
  display: flex;
  height: 100vh;

  .meeting-col {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .meeting-header {
      background-color: $dark;
      height: $header-height;
      border-bottom: $border;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .protected {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }

      .layout-selector {
        height: 100%;
      }

      .timer {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .meeting-content {
      background-color: $darker;
      flex-grow: 1;
    }

    .meeting-footer {
      height: $footer-height;
      background-color: $dark;
      border-top: $border;
    }
  }

  .side-col {
    width: 328px;
    background-color: $dark;
    display: flex;
    flex-direction: column;
    border-left: $border;

    .side-header {
      height: $header-height;
      border-bottom: $border;
    }
  }
}
